# Lab | Pandas

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

The data includes information such as customer ID, state, gender, education, income, and other variables that can be used to perform various analyses.

Throughout the lab, we will be using the pandas library in Python to manipulate and analyze the data. Pandas is a powerful library that provides various data manipulation and analysis tools, including the ability to load and manipulate data from a variety of sources, including CSV files.

### Data Description

- Customer - Customer ID

- ST - State where customers live

- Gender - Gender of the customer

- Education - Background education of customers 

- Customer Lifetime Value - Customer lifetime value(CLV) is the total revenue the client will derive from their entire relationship with a customer. In other words, is the predicted or calculated value of a customer over their entire duration as a policyholder with the insurance company. It is an estimation of the net profit that the insurance company expects to generate from a customer throughout their relationship with the company. Customer Lifetime Value takes into account factors such as the duration of the customer's policy, premium payments, claim history, renewal likelihood, and potential additional services or products the customer may purchase. It helps insurers assess the long-term profitability and value associated with retaining a particular customer.

- Income - Customers income

- Monthly Premium Auto - Amount of money the customer pays on a monthly basis as a premium for their auto insurance coverage. It represents the recurring cost that the insured person must pay to maintain their insurance policy and receive coverage for potential damages, accidents, or other covered events related to their vehicle.

- Number of Open Complaints - Number of complaints the customer opened

- Policy Type - There are three type of policies in car insurance (Corporate Auto, Personal Auto, and Special Auto)

- Vehicle Class - Type of vehicle classes that customers have Two-Door Car, Four-Door Car SUV, Luxury SUV, Sports Car, and Luxury Car

- Total Claim Amount - the sum of all claims made by the customer. It represents the total monetary value of all approved claims for incidents such as accidents, theft, vandalism, or other covered events.

External Resources: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

## Challenge 1: Understanding the data

In this challenge, you will use pandas to explore a given dataset. Your task is to gain a deep understanding of the data by analyzing its characteristics, dimensions, and statistical properties.

- Identify the dimensions of the dataset by determining the number of rows and columns it contains.
- Determine the data types of each column and evaluate whether they are appropriate for the nature of the variable. You should also provide suggestions for fixing any incorrect data types.
- Identify the number of unique values for each column and determine which columns appear to be categorical. You should also describe the unique values of each categorical column and the range of values for numerical columns, and give your insights.
- Compute summary statistics such as mean, median, mode, standard deviation, and quartiles to understand the central tendency and distribution of the data for numerical columns. You should also provide your conclusions based on these summary statistics.
- Compute summary statistics for categorical columns and providing your conclusions based on these statistics.

In [227]:
# Your code here

import pandas as pd

url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv'
insurance_company = pd.read_csv(url)

insurance_company.head(10)

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
5,OC83172,Oregon,F,Bachelor,825629.78%,62902.0,69.0,1/0/00,Personal Auto,Two-Door Car,159.383042
6,XZ87318,Oregon,F,College,538089.86%,55350.0,67.0,1/0/00,Corporate Auto,Four-Door Car,321.600000
7,CF85061,Arizona,M,Master,721610.03%,0.0,101.0,1/0/00,Corporate Auto,Four-Door Car,363.029680
8,DY87989,Oregon,M,Bachelor,2412750.40%,14072.0,71.0,1/0/00,Corporate Auto,Four-Door Car,511.200000
9,BQ94931,Oregon,F,College,738817.81%,28812.0,93.0,1/0/00,Special Auto,Four-Door Car,425.527834

In [229]:
#Solition_1.1
#Identify the dimensions of the dataset by determining the number of rows and columns it contains.

insurance_company.shape

(4008, 11)

In [231]:
#Solution_1.2
#Determine the data types of each column and evaluate whether they are appropriate for the nature of the variable. 
#You should also provide suggestions for fixing any incorrect data types.

insurance_company.dtypes

#I woud like to change the data type of Customer Lifetime Value to float64.
#This is useful for calculations, aggregations, and statistical analysis.
#Using floats ensures better compatibility and avoids potential errors.

Customer                      object
ST                            object
GENDER                        object
Education                     object
Customer Lifetime Value       object
Income                       float64
Monthly Premium Auto         float64
Number of Open Complaints     object
Policy Type                   object
Vehicle Class                 object
Total Claim Amount           float64
dtype: object

In [233]:
#Solution_1.2
#We can change the type of data by:
insurance_company['Customer Lifetime Value'] = insurance_company['Customer Lifetime Value'].str.rstrip('%').astype('float') / 100

In [235]:
#Solution_1.2
insurance_company.dtypes

Customer                      object
ST                            object
GENDER                        object
Education                     object
Customer Lifetime Value      float64
Income                       float64
Monthly Premium Auto         float64
Number of Open Complaints     object
Policy Type                   object
Vehicle Class                 object
Total Claim Amount           float64
dtype: object

In [237]:
#Solution_1.3
#Identify the number of unique values for each column and determine which columns appear to be categorical. 
#You should also describe the unique values of each categorical column and the range of values for numerical columns, 
#and give your insights.

insurance_company.nunique()

#Now we can see that columns ST, GENDER, Education, Number of Open Complaints, Policy Type and Vehicle Class are categorical columns.

Customer                     1071
ST                              8
GENDER                          5
Education                       6
Customer Lifetime Value      1027
Income                        774
Monthly Premium Auto          132
Number of Open Complaints       6
Policy Type                     3
Vehicle Class                   6
Total Claim Amount            761
dtype: int64

In [239]:
#Solution_1.3

#ST - represents the state where the customer lives, useful for regional analysis, understanding geographical distribution of customers.

insurance_company.ST.value_counts()

#This can highlight regions with the highest and lowest customer concentrations.

ST
Oregon        320
California    211
Arizona       186
Cali          120
Nevada         98
Washington     81
WA             30
AZ             25
Name: count, dtype: int64

In [241]:
#Solution_1.3

#GENDER - represents the gender of the customer, useful for demographic analysis, personalized marketing strategies.

insurance_company.GENDER.value_counts()

#Now, we can see, that we have 5 types of gender in dataset. But according this output (analyzing this) we undestand that it is only 2 types, MALE and FEMALE. 
#For the best analyze in the future we need to format this data. Bring data into one form.

GENDER
F         457
M         413
Male       39
female     28
Femal      17
Name: count, dtype: int64

In [243]:
#Solution_1.3

#Education - represents background education of customers, useful for demographic profiling, analyzing trends based on education level.

insurance_company.Education.value_counts()

#Understanding the educational background of customers lets us see see which education levels are most represented. 
#Also now we can see that there are some mistakes like Bachelors, Bachelor.

Education
Bachelor                324
College                 313
High School or Below    296
Master                   94
Doctor                   37
Bachelors                 7
Name: count, dtype: int64

In [245]:
#Solution_1.3

#Number of Open Complaints - shows the number of open complaints, useful for customer service analysis, identifying potentially dissatisfied customers, and improving customer support strategies.
#Use the number of open complaints as a proxy for customer satisfaction. Higher numbers of complaints might indicate dissatisfaction.

insurance_company["Number of Open Complaints"].value_counts()

#Use the number of open complaints as a proxy for customer satisfaction. Higher numbers of complaints might indicate dissatisfaction.

Number of Open Complaints
1/0/00    830
1/1/00    138
1/2/00     50
1/3/00     34
1/4/00     13
1/5/00      6
Name: count, dtype: int64

In [247]:
#Solution_1.3

#Policy Type - the type of insurance policy. Useful for product segmentation, analyzing policy distribution.

insurance_company["Policy Type"].value_counts()

#Can see, which policy types are more popular among customers. Mostly people insure their own cars.

Policy Type
Personal Auto     780
Corporate Auto    234
Special Auto       57
Name: count, dtype: int64

In [249]:
#Solution_1.3

#Vehicle Class - type of vehicle classes that customers have. Useful for risk assessment, pricing strategies, and understanding the distribution of vehicle types among customers.

insurance_company["Vehicle Class"].value_counts()

#Can see, which vehicle class are more popular among customers.

Vehicle Class
Four-Door Car    576
Two-Door Car     205
SUV              199
Sports Car        57
Luxury SUV        20
Luxury Car        14
Name: count, dtype: int64

In [251]:
#Solution_1.3
#Customer Lifetime Value   

max_customer_life_time_value = insurance_company["Customer Lifetime Value"].max()
min_customer_life_time_value = insurance_company["Customer Lifetime Value"].min()

range_customer_life_time_value = max_customer_life_time_value - min_customer_life_time_value

print(f"Max Customer Lifetime Value is {max_customer_life_time_value}.")
print(f"Min Customer Lifetime Value is {min_customer_life_time_value}")
print(f"The range of Customer Lifetime Value is {range_customer_life_time_value}")

Max Customer Lifetime Value is 58166.553499999995.
Min Customer Lifetime Value is 2004.3507
The range of Customer Lifetime Value is 56162.20279999999

In [253]:
#Solution_1.3
#Income  

max_income = insurance_company["Income"].max()
min_income = insurance_company["Income"].min()

range_income = max_income - min_income

print(f"Max of Income is {max_income}.")
print(f"Min of Income is {min_income}")
print(f"The range of Income is {range_income}")

#The min value might suggest that some customers have no recorded income or could be errors/missing values.

Max of Income is 99960.0.
Min of Income is 0.0
The range of Income is 99960.0

In [255]:
#Solution_1.3
#Monthly Premium Auto

max_monthly_premium_auto = insurance_company["Monthly Premium Auto"].max()
min_monthly_premium_auto = insurance_company["Monthly Premium Auto"].min()

range_monthly_premium_auto = max_monthly_premium_auto - min_monthly_premium_auto

print(f"Max Monthly Premium Auto is {max_monthly_premium_auto}.")
print(f"Min of Monthly Premium Auto is {min_monthly_premium_auto}")
print(f"The range of Monthly Premium Auto is {range_monthly_premium_auto}")

Max Monthly Premium Auto is 35354.0.
Min of Monthly Premium Auto is 61.0
The range of Monthly Premium Auto is 35293.0

In [257]:
#Solution_1.3
#Total Claim Amount  

max_total_claim_amount = insurance_company["Total Claim Amount"].max()
min_total_claim_amount = insurance_company["Total Claim Amount"].min()

range_total_claim_amount = max_total_claim_amount - min_total_claim_amount

print(f"Max of Total Claim Amount is {max_total_claim_amount}.")
print(f"Min of Total Claim Amount is {min_total_claim_amount}")
print(f"The range of Total Claim Amount is {range_total_claim_amount}")

Max of Total Claim Amount is 2893.239678.
Min of Total Claim Amount is 0.382107
The range of Total Claim Amount is 2892.857571

In [259]:
#Compute summary statistics such as mean, median, mode, standard deviation, and quartiles to understand the central tendency and distribution of the data for numerical columns. 
#You should also provide your conclusions based on these summary statistics.

insurance_company.describe()

,Customer Lifetime Value,Income,Monthly Premium Auto,Total Claim Amount
count,1068.000000,1071.000000,1071.000000,1071.000000
mean,7936.902593,39295.701214,193.234360,404.986909
std,6434.784103,30469.427060,1601.190369,293.027260
min,2004.350700,0.000000,61.000000,0.382107
25%,4034.079950,14072.000000,68.000000,202.157702
50%,5881.742350,36234.000000,83.000000,354.729129
75%,8962.871975,64631.000000,109.500000,532.800000
max,58166.553500,99960.000000,35354.000000,2893.239678

In [261]:
insurance_company.describe(include = "object")

,Customer,ST,GENDER,Education,Number of Open Complaints,Policy Type,Vehicle Class
count,1071,1071,954,1071,1071,1071,1071
unique,1071,8,5,6,6,3,6
top,MY31220,Oregon,F,Bachelor,1/0/00,Personal Auto,Four-Door Car
freq,1,320,457,324,830,780,576

## Challenge 2: analyzing the data

### Exercise 1

The marketing team wants to know the top 5 less common customer locations. Create a pandas Series object that contains the customer locations and their frequencies, and then retrieve the top 5 less common locations in ascending order.

In [266]:
customer_locations = insurance_company["ST"].value_counts()

series_customer_locations = pd.Series(customer_locations)

top_5_less_common_customer_locations = series_customer_locations.sort_values()

top_5_less_common_customer_locations.head(5)

ST
AZ             25
WA             30
Washington     81
Nevada         98
Cali          120
Name: count, dtype: int64

### Exercise 2

The sales team wants to know the total number of policies sold for each type of policy. Create a pandas Series object that contains the policy types and their total number of policies sold, and then retrieve the policy type with the highest number of policies sold.

*Hint:*
- *Using value_counts() method simplifies this analysis.*
- *Futhermore, there is a method that returns the index of the maximum value in a column or row.*

In [282]:
policy_type = insurance_company["Policy Type"].value_counts()

series_policy_type = pd.Series(policy_type)

top_policy_type = series_policy_type.sort_values(ascending=False)

top_policy_type#.head(1)

Policy Type
Personal Auto     780
Corporate Auto    234
Special Auto       57
Name: count, dtype: int64

In [278]:
policy_type = insurance_company["Policy Type"].value_counts()

series_policy_type = pd.Series(policy_type)

top_policy_type = series_policy_type.idxmax()

top_policy_type

'Personal Auto'

### Exercise 3

The sales team wants to know if customers with Personal Auto have a lower income than those with Corporate Auto. How does the average income compare between the two policy types?

- Use *loc* to create two dataframes: one containing only Personal Auto policies and one containing only Corporate Auto policies.
- Calculate the average income for each policy.
- Print the results.

In [304]:
df_personal_auto = insurance_company.loc[insurance_company["Policy Type"] == "Personal Auto"]

df_personal_auto

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,6979.5359,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,12887.4317,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
4,GA49547,Washington,M,High School or Below,5363.0765,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
5,OC83172,Oregon,F,Bachelor,8256.2978,62902.0,69.0,1/0/00,Personal Auto,Two-Door Car,159.383042
...,...,...,...,...,...,...,...,...,...,...,...
1065,XD85577,Cali,M,Bachelor,2842.2669,69417.0,73.0,1/1/00,Personal Auto,Four-Door Car,30.874869
1066,TM65736,Oregon,M,Master,3059.5503,38644.0,78.0,1/1/00,Personal Auto,Four-Door Car,361.455219
1067,VJ51327,Cali,F,High School or Below,20314.9976,63209.0,102.0,1/2/00,Personal Auto,SUV,207.320041
1068,GS98873,Arizona,F,Bachelor,3239.1247,16061.0,88.0,1/0/00,Personal Auto,Four-Door Car,633.600000
1070,MY31220,California,F,College,8997.0402,54230.0,112.0,1/0/00,Personal Auto,Two-Door Car,537.600000

In [300]:
df_personal_auto['Income'].mean()

38180.69871794872

In [302]:
df_corporate_auto = insurance_company.loc[insurance_company["Policy Type"] == "Corporate Auto"]

df_corporate_auto

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
3,WW63253,California,M,Bachelor,7645.8618,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
6,XZ87318,Oregon,F,College,5380.8986,55350.0,67.0,1/0/00,Corporate Auto,Four-Door Car,321.600000
7,CF85061,Arizona,M,Master,7216.1003,0.0,101.0,1/0/00,Corporate Auto,Four-Door Car,363.029680
8,DY87989,Oregon,M,Bachelor,24127.5040,14072.0,71.0,1/0/00,Corporate Auto,Four-Door Car,511.200000
12,DP39365,California,NaN,Master,8798.7970,77026.0,110.0,1/2/00,Corporate Auto,Four-Door Car,472.029737
...,...,...,...,...,...,...,...,...,...,...,...
1045,WZ31900,Oregon,F,Bachelor,8649.7006,94389.0,107.0,1/0/00,Corporate Auto,SUV,85.063708
1050,BJ53923,Arizona,M,High School or Below,2600.2721,51978.0,66.0,1/0/00,Corporate Auto,Four-Door Car,144.782152
1052,FB23788,Oregon,M,High School or Below,8828.8350,86721.0,111.0,1/0/00,Corporate Auto,SUV,532.800000
1056,PI47776,Oregon,F,Bachelor,2530.7051,89451.0,63.0,1/0/00,Corporate Auto,Four-Door Car,61.769564
1059,YG44474,Oregon,M,College,14014.7213,54193.0,117.0,1/0/00,Corporate Auto,SUV,720.752945

In [306]:
df_corporate_auto['Income'].mean()

41390.31196581197

### Bonus: Exercise 4

Your goal is to identify customers with a high policy claim amount.

Instructions:

- Review again the statistics for total claim amount to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount data.

*Note: When analyzing data, we often want to focus on certain groups of values to gain insights. Percentiles are a useful tool to help us define these groups. A percentile is a measure that tells us what percentage of values in a dataset are below a certain value. For example, the 75th percentile represents the value below which 75% of the data falls. Similarly, the 25th percentile represents the value below which 25% of the data falls. When we talk about the top 25%, we are referring to the values that fall above the 75th percentile, which represent the top quarter of the data. On the other hand, when we talk about the bottom 25%, we are referring to the values that fall below the 25th percentile, which represent the bottom quarter of the data. By focusing on these groups, we can identify patterns and trends that may be useful for making decisions and taking action.*

*Hint: look for a method that gives you the percentile or quantile 0.75 and 0.25 for a Pandas Series.*

*Hint 2: check `Boolean selection according to the values of a single column` in https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9*

In [ ]:
# Your code here